<body style="background-color:whitesmoke;background-image: url(../../assets/bg7.jpg);
background-repeat: no-repeat;background-size: cover;width: 100%;">
<br><br>

<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content" style="background-color: whitesmoke;
    background-image: url(../../assets/bg10.webp);background-repeat:no-repeat;background-size: cover;">
        <div class="modal-header text-center">
            <h4 class="modal-title" style="font-family: bold;font-size: xx-large;margin-left:170px;">Position</h4>
        </div>
        <div *ngIf="success == true;then SUCC else FAIL"></div>
        <ng-template #SUCC><b style="color:green;text-align: center;font-size: x-large;">{{ message }}</b></ng-template>
        <ng-template #FAIL><b style="color:red;text-align: center;font-size: x-large;">{{ message }}</b></ng-template>

        <form>
        <div class="modal-body" style="padding: 10px;">
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Designation<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.designation" name="designation" placeholder="Enter designation">
                    <span style="color:Red">{{ inputError.designation }}</span>
                </div>
            </div>

            
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Opening Date<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.openingDate" name="openingDate" type="date" placeholder="Enter openingDate">
                    <span style="color:red">{{ inputError.openingDate }}</span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Required Experience<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.requiredExperience" name="requiredExperience" placeholder="Enter requiredExperience">
                    <span style="color:Red">{{ inputError.requiredExperience }}</span>
                </div>
            </div>
             
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Condition<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <select [(ngModel)]="form.cid" name="cid" style="width: 200px;height:30px;">
                        <option *ngFor="let r of preloadData"  value="{{ r.cid}}">{{ r.condition }}</option>
                        </select>
                    <span style="color:red">{{ inputError.cid }}</span>
                </div>
            </div>
          
        
        
           

           
            
            

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <button (click)="save()" type="submit" class="btn btn-success form-control">Save</button>
                </div>
                <div class="col-lg-3">
                    <button (click)="reset()" class="btn btn-primary form-control">Reset</button>
                </div>
            </div>

        </div>
        </form>

    </div>
</div>

</body>



